{% extends "base.html" %}
<body>
{% block content %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/registration.css')}}">
    <br>
    <div class="container">
        <h1>Registration Form</h1>
        <form action="/submit-registration" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your name">

            <label for="aadhar">Aadhar Number:</label>
            <input type="text" id="aadhar" name="aadhar" placeholder="Enter your Aadhar number">

            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" placeholder="Enter your phone number">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email">

            <button type="submit">Register</button>
        </form>
    </div>

{% endblock %}

</body>
